@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}
.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s ease-in-out;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
